# Miscellaneous
.DS_Store
.idea/
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Podfile.lock
pubspec.lock

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Firebase
firebase-debug.log
ui-debug.log
.firebase/
