rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /appraisals/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    // Deny access to all other paths by default
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
